<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body>
    <a href="/questions/new" class="btn-sm btn-success">Új kérdés</a>
    <h1 class="text-center" id="question">Either.sch</h1>
    <div class="container">

      <div class="row answers">
        <div class="col-xs-6 option">
          <div class="well blue answer" onClick="answer(0)">
            <h2 id="answer1">Option 0</h2>
          </div>
        </div>
          <div class="or"></div>

        <div class="col-xs-6 option">
          <div class="well red answer" onClick="answer(1)">
            <h2 id="answer2">Option 1</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-center">
          <button class="btn btn-primary btn-lg btn-block" onClick="getRandomQuestion()">
            Kérek egy jobbat
          </button>
        </div>
      </div>
      <div class="row feedback-buttons">
        <div class="col-md-4 text-center"> Jó kérdés </div>
        <div class="col-md-4 text-center"> Szar kérdés </div>
        <div class="col-md-4 text-center"> <a href="#"> Jelentés </a> </div>
      </div>
    <div style="position:fixed;bottom:0px;left:0px;">
      <input type="checkbox" name="none-sch" value="true">Nem kérek sch-s kérdéseket<br>
    </div>
    </div>
    <script src="assets/js/lodash.js"></script>
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
      var status = "answering";
      var currentQuestion = {};
      function getRandomQuestion() {
          $.get('/question?nonsch=1', function (data) {
              currentQuestion = data;
              fillNewQuestion(data);
          });
        //return _.sample(_.filter(questions, (q) => q.asked == undefined));
      }

      function fillNewQuestion(nextQuestion) {
        document.getElementById("question").innerText = nextQuestion.question;
        document.getElementById("answer1").innerText = nextQuestion.answer1;
        document.getElementById("answer2").innerText = nextQuestion.answer2;
        nextQuestion.asked = true;

        document.getElementById("answer1").className = "";
        document.getElementById("answer2").className = "";
        status = "answering";
      }

      function answer(number) {
        if(status !== "answering") {
          return;
        }
        if(number)
          document.getElementById("answer2").className += " checked";
        else
          document.getElementById("answer1").className += " checked";

        $.post('/answer', { question: currentQuestion._id, answer: number + 1 }, function (data) {
          var percent = data.percent; //_.random(0.2, 0.8, true);
          if(percent == -1) {
              document.getElementById("question").innerText = "Igyatok!";
              graduallyIncrease(document.getElementById("answer1"), 0);
              graduallyIncrease(document.getElementById("answer2"), 0);
          } else {
              if(percent < 0.5 ^ number)
                  document.getElementById("question").innerText = "Igyatok!";
              else
                  document.getElementById("question").innerText = "Talált!";

              graduallyIncrease(document.getElementById("answer1"), percent * 100);
              graduallyIncrease(document.getElementById("answer2"), (1 - percent) * 100);
            }
        });
        status = "results";
      }

      function graduallyIncrease(element, target) {
          var question = element.innerText;
          var current = 0;
          var interval = setInterval(() => {
              current += target / 20;
              if (current >= target) {
                  current = target;
                  clearInterval(interval);
              }
              element.innerHTML = question + "<br />" + (current).toFixed(2) + "%";
            }, 25);
      }

      function everyoneDrink() {
        setTimeout(() => {
          alert("Mindenki iszik!");
          everyoneDrink();
        },
        _.random(5*60, 20*60) * 1000);
      }
      document.addEventListener("DOMContentLoaded", function(event) {
        getRandomQuestion();
        everyoneDrink();
      });

    </script>
  </body>
</html>
