body{
  background: #1b1b1b;
  color: white;
}
.blue {
  background-color: rgb(67, 133, 255);
  border-color: rgba(67, 133, 255, 0.7);
}

.blue:hover {
  background-color: rgba(67, 133, 255, 0.7);
}

.blue > h2 {
  text-align: center;
}

.red {
  background-color: red;
  border-color: rgba(255, 0, 0, 0.7);
}

.red:hover {
  background-color: rgba(255, 0, 0, 0.7);
}

.red > h2 {
  text-align: center;
}

.checked::before {
  content: "✔";
  position: absolute;
  top: 0;
  left: 20px;
}
.answers > div {
  display: table;
  min-height: 196px;
  margin-bottom: 25px;
}
.answer {
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.9);
}

.feedback-buttons {
  font-size: large;
  padding-top: 15px;
}